.demos{
	font-family: Avenir Next, Helvetica, sans-serif;
}

.demos p{
	text-align: center;
	font-size: 2.7em;
	font-style: italic;
}
.invoker {
	width: 100%;
	height: 360px;
	border-bottom: 1px solid silver;
}
.invoker img{
	margin-left: 5%;
	float: left;
	width: 35%;
	opacity: 0.7;
	border-radius: 5%;
	transition: transform 1s, opacity 0.2s, border-radius 0.3s;
}
.invoker p{
	font-size: 2em;
	margin-top: 10%;
	margin-left: 50%;
}
.invoker img:hover{
	opacity: 1;
	cursor:pointer;
}
.lasto{
	height: 400px;
	text-align: center;
	font-size: 2.0em;
}