body, html {
  margin: 0;
  padding: 0;
}

.nav {
  top: 0;
  position: fixed;
  width: 100%;
	height: 240px;
	background: -webkit-linear-gradient(top, #353147, #fff);
	background: -moz-linear-gradient(top, #353147, #fff);
	background: linear-gradient(top, #353147, #fff);
	text-align: center;
  transition: background 0.5s;
  z-index: 10;
}

.nav i{
	margin-top: 50px;
	font-size: 5em;
	color: #FFF;
	margin-left: 10%;
	margin-right: 10%;
	padding: 20px;
	border-radius: 25%;
	transition: background 0.5s;
}
.activited{
	background-color: white;
	color: #353147!important;
}

.nav i:hover{
	background-color: white;
	color: #353147;

}

/*.personal {
  margin-top: 240px;
}*/

.personal img{
	background-color: silver;
	padding: 10px;
	width: 220px;
	height: 220px;
	margin-left: 30%; 
	margin-top: 20px;
	border-radius: 120px;
	-webkit-animation: fadein 1s; 
	animation: fadein 1s;
	box-shadow: 2px 10px 30px black;

}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.personal h1{
	padding-top: 70px;
	font-size: 70px;
	margin-right: 12%;
	font-family: 'Dancing Script', cursive;
	-webkit-animation: fadein 1s; 
	animation: fadein 1s;
}

.personal p{
	font-size: 25px;
	font-family: Avenir Next, Helvetica, sans-serif;
	font-weight: 400;
	margin-top: 50px;
	-webkit-animation: fadein 2s; 
	animation: fadein 2s;
}



@media only screen and (max-width: 850px) {
  .nav i {
    font-size: 3em;
    padding: 15px;
  }
  .nav {
    height: 180px;
  }
  .hob ul li {
    height: 260px;
  }
  .hob p {
    font-size: 20px;
    width: 385px;
  }
  .hob{
    height: 300px;
  }
  #hovPics4 p{
    width: 120px;
  }
	.Photo img{
		height: 145px;
	}
	.Photo figure{
		padding: 8px;
	}
	.Photo figcaption{
		font-size: 16px;
	}
}

@media screen and (max-width: 650px) {
  .nav i {
    font-size: 2em;
    padding: 12px;
    margin-top: 40px;
  }
  .nav {
    height: 140px;
  }
  .hob ul li {
    height: 195px;
  }
  .hob p {
    font-size: 15px;
    width: 300px;
  }
  #hovPics4 p{
    width: 100px;
  }
  .hob{
    height: 250px;
  }
  .Photo img{
		height: 105px;
	}
	.Photo figure{
		padding: 7px;
	}
	.Photo figcaption{
		font-size: 12px;
	}
}

@media only screen and (max-width: 375px) {
   .nav i {
    font-size: 2em;
    padding: 8px;
    margin-top: 30px;
  }
  .nav {
    height: 100px;
  }
  .hob ul li {
    height: 125px;
  }
  .hob p {
    font-size: 10px;
    width: 200px;
  }
  #hovPics4 p{
    width: 60px;
  }
  .hob{
    height: 200px;
  }
  .Photo img{
		height: 70px;
	}
	.Photo figure{
		padding: 5px;
	}
	.Photo figcaption{
		font-size: 8px;
	}

}









